
.parallax-container {
     height: 500px;
}

.fontLobster {
  font-family: Lobster;
}

.fontTinos {
  font-family: Tinos;
}

.buttonFont {
  font-size: 30px;
}

.headerHeight {
  height: 200px;
}

.paddingTopSmall {
  padding-top: 20px;
}

.paddingTopMd {
  padding-top: 50px;
}


@media only screen and (max-width: 600px) {
  
}

