.parallax-container {
  height: 500px;
}

.fontLobster {
  font-family: Lobster;
}

.fontTinos {
  font-family: Tinos;
}

.buttonFont {
  font-size: 30px;
}

.headerHeight {
  height: 200px;
}

.parallaxSeparator {
  height: 50px !important;
  min-height: 50px !important;
}

.parallaxSeparatorMedium {
  height: 100px !important;
  min-height: 100px !important;
}

.paddingTopSmall {
  padding-top: 20px;
}

.paddingTopMd {
  padding-top: 50px;
}

.paddingTopLg {
  padding-top: 100px;
}

.marginTopSm {
  margin-top: 20px;
}

.shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.textAlignCenter {
  text-align: center;
}

.longhornCenter {
  display: block;
  margin: auto;
}

.textAlignRight {
  text-align: right;
}

.stackDivisor {
  border-right-style: solid;
}

.whiteBoxText {
  background: rgba(12, 12, 12, 0.6);
  margin-top: 50px !important;
  padding-bottom: 20px;
}

.blackFont {
  color: black !important;
}

.noMarginTop {
  margin-top: none !important;
}

.noMarginBottom {
  margin-bottom: none !important;
}

.educationSection {
  height: 800px;
}

@media only screen and (max-width: 600px) {
  .quoteHeight {
    height: 900px;
  }

  .stackDivisor {
    border-right-style: none;
  }

  .whiteBoxText {
    background: rgba(12, 12, 12, 0.6);
    margin-top: 20px !important;
    padding-bottom: none;
  }

  .paddingTopLg {
    padding-top: 30px;
  }

  .educationSection {
    height: 800px;
  }

  .marginTopSm {
    margin-top: none;
  }
}
