.parallax-container {
  height: 500px;
}

.fontLobster {
  font-family: Lobster;
}

.fontTinos {
  font-family: Tinos;
}

.buttonFont {
  font-size: 30px;
}

.headerHeight {
  height: 200px;
}

.paddingTopSmall {
  padding-top: 20px;
}

.paddingTopMd {
  padding-top: 50px;
}

.shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.picPortion {
  background-image: "./pictures/UT1.jpg";
}

.stackDivisor {
  border-right-style: solid;
}

.whiteBoxText {
  background: rgba(68, 67, 67, 0.7);
  margin-top: 100px !important;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .quoteHeight {
    height: 900px;
  }

  .headerHeight {
    height: 100px;
  }

  .stackDivisor {
    border-right-style: none;
  }

  .whiteBoxText {
    background: rgba(68, 67, 67, 0.7);
    margin-top: 20px !important;
    padding-bottom: 20px;
  }
}
